## Visual Studio / .NET

# Каталоги сборки
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Файлы пользователя Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Результаты сборки
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]ut/
[Ll]og/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Прочее
*.pdb
*.cache
*.tmp
*.bak
.DS_Store
Thumbs.db
